* { 
    box-sizing: border-box; 
    font-family: 'Courier New'; 
    scroll-behavior: smooth;
}

html {
    background: linear-gradient(to bottom right, blue, #47C7FC 80%);
    background-attachment: fixed;
    color: white;  
}

.header { 
    text-align: center; 
    padding: 10px 10px; 
}

hr { 
    border-color: #FF8000; 
    border-width: 100%; 
}

main { 
    border-top: 2px solid #FF8000;

}

li { 
    display: inline-block; 
}

li:hover { 
    font-weight: bold;
    color: blue; 
    background-color: white; 
}
